body {
  background: black;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

  img#mkzzn-logo {
    display: block;
    margin: 32px auto 18px auto;
  }

  #mkzzn-details {
    display: block;
    margin: 0 auto;
    width: 384px;
    text-align: right;
  }

    #mkzzn-details a, #mkzzn-details div {
      color: white;
      display: block;
      text-decoration: none;
      margin-bottom: 8px;
      font-size: 2.4em;
      font-weight: normal;
      font-family: Arial, Verdana, Sans, Sans-Serif;
    }
    
      #mkzzn-details div {
        color: #4486FF;
      }

      #mkzzn-details a:hover {
        color: #8CB5FF;
      }
